/* ===== Common style start ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
  }
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
  .common_btn {
    padding: 17px 24px;
    border: 1px solid #0d1321;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    cursor: pointer;
  }
  .heading {
    color: #0d1321;
    font-size: 32px;
    font-weight: 800;
    line-height: auto;
    text-align: center;
    text-transform: capitalize;
  }
  .paragraph {
    color: #0d1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 852px;
    text-align: center;
  }
  /* ===== Common style end ====== */
  
  /* ============= Navbar style start ============ */
  .navbar {
    margin: 35px 0;
  }
  .nav_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    color: "#0D1321";
    font-size: 28px;
    font-weight: 800;
    font-family: "Azeret Mono", monospace;
  }
  /* ============= Navbar style end ============ */
 /* ============= Banner style start ============== */
.banner {
    background-image: url("../assets/Hero-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner_small_img {
    padding: 26px 0 32px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner_heading {
    color: #0d1321;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
  }
  .details {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0 32px 0;
  }
  .banner_details {
    width: 852px;
    color: #0d1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
  }
  .banner_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 45px;
  }
  .contact_btn {
    background-color: #0d1321;
    color: #ffffff;
    border: 0px solid transparent;
    text-align: center;
  }
  /* ============= Banner style end ============== */